
form{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
}

form label{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  text-transform: capitalize;
}

form button{
  transform: scale(0.8);
  align-self: center;
}

form h5{
  margin: 0%;
}
input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 20px;
  box-sizing: border-box;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
