:root{
  --light:#84ffd0;
  --light2:#76d8ff;
  --medium:#00cba9;
  --dark:#1f3d32  ;
}
.App {
  text-align: center;
  width: auto;
  overflow-y:;
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  position:relative;
}
.Background{
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  background-color: var(--light2);
  z-index: -2;
}
.BottomSvg{
  bottom: 0;
  left: 0;
  position: absolute;
  fill: var(--medium);
  z-index: 0;
  transform-origin: bottom;
  transform: scaleY(0.6);
}